body{
    background-color: rgb(241, 165, 67);
}

#header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em
}

#about-container {
    max-width: 800px;
    height: 600px;
    margin: 50px auto;
    padding: 20px;
    overflow-y:scroll;
    background: linear-gradient(to left top, #e86262, #3498dbeb, #85738d);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #ffffff;
}

#about-container h1 {
    font-size: 2em;
    color: #000000;
    margin-bottom: 20px;
}

#about-container h2, #about-container h3 {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
}

#about-container p {
    margin-bottom: 20px;
}

#about-container ul {
    margin: 20px 0;
    padding-left: 20px;
}

#about-container ul li {
    margin-bottom: 10px;
}

.acerca:hover, #about-container ul li:hover {
    background-color: #f2af2b; /* Fondo gris claro */
    border: 1px solid #030303; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.5s, border 0.5s, box-shadow 0.5s; /* Transiciones suaves */
}

#pieDePagina {
    background: linear-gradient(to left top, #F0F0F0, #3498DB, #9B59B6);
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: 10px;
  }