body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c0d53;
    background-image: url("../Assets/Grid.jpg");
} 

#header{
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
}


#prueba{
    padding-top: 2px;
}


.buscaEnlaces{
   width: 100%;
   height: 100%;
}

.lista{

    background: linear-gradient(to left top, #e86262, #3498dbeb, #85738d);
    padding: 5px;
    overflow-y:scroll;
    height: 600px;
    
}

.item{
    color: rgb(238, 244, 230);
    margin: 15px;
    font-family: cursive;
}

.mi-lista {
    list-style-type: disc;
   font-style: oblique;
}

.d-block{
    width: 60%;
    height: 85%;
}





 



