body{
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    background-color: #0a0a0a;
    
}

#header{
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    background-color: #0a0a0a; 
    color: white;
    display: flex;
    justify-content: center;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

main{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* ESTILOS FORMULARIO */
.formulario{
    background: linear-gradient(to left top, #e86262a8, #3498db8f, #85738da5);
    width: 70%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5.5em;
}

.tituloYdirector{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #000000, 0px 0px 10px #050505, 0px 0px 10px #000000,
    0px 0px 20px #020202;
}

.cajitasPropiedades{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

#portadaPeli{
    display: flex;
    justify-content:center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 15px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #000000, 0px 0px 10px #060606, 0px 0px 10px #090909,
    0px 0px 20px #070707;
}


.cajitaPortada{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 30%;
}

.añoPuntajeGenero{
    display: flex;
    justify-content:center ;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #000000, 0px 0px 10px #060606, 0px 0px 10px #090909,
    0px 0px 20px #070707;

}

.button{
    width: 15%;
    height: 100%;
    border: solid #9c3434;
    border-radius: 100%;
    background-color: rgb(2, 2, 2);
    font-size: 15px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #000000, 0px 0px 10px #060606, 0px 0px 10px #090909,
    0px 0px 20px #070707;
}

/* ESTILOS SLIDER*/
.divOptions{
/* border: solid black; */
display: flex;
align-items: center;
justify-content: center;
width: 90%;
margin: auto;
}

.durationOptions{
display: flex;
flex-direction: row;
/* border: solid black; */
width: 12%;
font-size: 15px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #000000, 0px 0px 10px #050505, 0px 0px 10px #000000,
    0px 0px 20px #020202;

}
.slideOp{
    display: flex;
    justify-content: baseline;
    /* border: solid beige; */
    width: 60%;
    font-size: 15px;
    font-weight: 600;
    color: #fdfdfe;
    
}
.form-range{
    /* border: solid rgb(243, 10, 10); */
    margin-right: 2px;
    width: 80%
}

.changeValue{
    /* border: solid red; */
    height: 20px;
}




